.cart-body {
    min-height: 80vh;
    padding: 50px;
}

.cart-item {
    display: flex;
    align-items: baseline;
    border-bottom: solid 1px #ccc;

}

.cart-item-image {
    display: inline-block;
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.cart-item-details {
    display: flex;
    align-items: baseline;
    padding-bottom: 10px;
}

.item-price {
    margin-left: 20px;
    font-weight: bold;
}

.item-quantity {
    margin-left: 20px;
}

@media screen and (max-width: 900px) {
    .cart-body {
        min-height: 85vh;
    }
}