.cart-body {
    min-height: 90vh;
    padding: 50px;
}

.cart-items {
    margin-top: 50px;
}

.cart-item {
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: solid 1px rgb(207, 207, 207);
    margin-top: 20px;
}

.cart-item-image {
    width: 80px;
    height: 80px;
    position: relative;
    top: -15px;
    object-fit: cover;
}

.item-label {
    display: flex;
    align-items: baseline;
}

.item-label h5 {
    margin-left: 10px;
}

.item-price {
    margin-left: 10px;
}

.cart-body button {
    padding: 2px 5px;
    font-size: 10px;
}


.checkout-btn {
    margin-top: 20px;
    font-size: 20px !important;
    padding: 5px 10px !important;
}



@media screen and (max-width: 680px) {
    .cart-body {
        padding: 10px;
    }

    .cart-item-image {
        display: none;
    }

    .checkout-btn {
        margin-top: 2vh;
    }
}