.hero-img {
    width: 100%;
    display: block;
    margin-bottom: 0;
    height: auto;
}

.for-wherever {
    display: none;
}

.for-you--section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.for-you--image {
    z-index: -2;
    width: 50%;
    min-width: 350px;
}

.for-you--image img {
    width: 100%;
}

.for-you--featured {
    width: 50%;
}

.for-you--featured__header {
    font-family: "DM Serif Text", serif;
    font-size: 2.9vw;
    text-align: center;
    color: rgb(74, 49, 20);
}

.bottom-section {
    width: 100vw;
    padding-bottom: 10vh;
    background-color: rgba(255, 228, 196, 0.62);
}

.for-you--description {
    z-index: -2;
    font-family: "DM Serif Text", serif;
    font-size: 2.5vw;
    color: rgb(74, 49, 20);
    text-align: center;
    align-content: center;
    width: 50%;
    margin: auto;
    padding-top: 5vh;
}

.start-shopping {
    border-style: hidden;
    -webkit-tap-highlight-color: transparent;
    padding: 30px;
    width: 50%;
    background-color: rgb(74, 49, 20);
    color: white;
    font-family: "DM Serif Text", serif;
    font-size: 4vh;
    display: block;
    margin: auto;
    margin-top: 5vh;
    transition: all 0.3s;
}

a {
    text-decoration: none;
}

.start-shopping:hover {
    cursor: pointer;
    background-color: rgb(112, 67, 15);
    border-radius: 20px;
}

@media screen and (max-width: 1150px) {
    .for-you--featured__header {
        position: relative;
        top: 20px;
        z-index: 5;
    }
}

@media screen and (max-width:800px) {

    .hero-img {
        display: none;
    }

    .featured-header {
        margin-top: 5vh;
        font-size: 24px;
    }


    .for-you--section {
        margin-top: 10vh;
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    .for-you--section img {
        mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 80%, transparent 100%);
    }

    .for-wherever {
        z-index: 7;
        display: block;
        position: absolute;
        top: 20vh;
        padding-left: 20px;
        font-size: 4vw;
        font-family: "DM Serif Text", serif;
        color: rgb(74, 49, 20);
    }

    .for-you--featured__header {
        font-size: 30px;
    }

    .for-you--featured {
        background-color: transparent;
        width: 100%;
        height: auto;
    }

    .for-you--image {
        width: 100%;
    }

    .for-you--description {
        width: 80%;
        font-size: 4vw;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .start-shopping {
        font-size: 5vw;
        padding: 10px;
    }
}