.disclaimer {
    color: bisque;
}

.footer-end {
    background-color: rgb(74, 49, 20);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    justify-content: center;
    position: relative;
    bottom: -2px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

.footer-end a,
.footer-end a:active,
.footer-end a:visited {
    color: white;
}

.footer-end a:hover {
    color: rgb(184, 148, 103);
}

.copyright {
    padding-left: 10px;
    padding-right: 10px;
}

.fa-brands {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}