.body {
    margin-bottom: 10vh;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 0;

}

.buttons-style {
    padding-left: 8px;
    padding-right: 8px;
    background-color: white;
    border-style: hidden;
    color: rgb(74, 49, 20);
    font-family: "DM Serif Text", serif;
    font-size: 1.4vw;
    border-left: 1px solid rgb(74, 49, 20);
    cursor: pointer;
    border-right: 1px solid rgb(74, 49, 20);

}

.buttons-style:focus,
.buttons-style:hover,
.priceBtn-style:focus,
.priceBtn-style:hover {
    background-color: rgb(240, 218, 197);
}

.price-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;

}

.priceBtn-style {
    font-size: 1vw;
    font-family: "DM Serif Text", serif;
    color: rgb(74, 49, 20);
    cursor: pointer;
    padding: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(74, 49, 20);
    background-color: white;
}


.productSection {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}


.prod-img img:hover {
    cursor: pointer;
    opacity: 0%;
    transition: 0.5s;
}

.productBox {
    width: 30%;
    min-width: 300px;
}

.productBox img {
    width: 105%;
}

.btn-outline-dark {
    width: 150px;
    transition: 0.5s;
}

.btn-outline-dark:active {
    background-color: #585858 !important;
    color: #fff !important;
    border-color: #000 !important;
}

.price,
.productName {
    text-align: center;
    color: rgb(74, 49, 20);
    font-family: "DM Serif Text", serif;
    font-size: 1.8rem;
}

.pastPrice {
    color: rgb(176, 72, 60);
    font-family: "DM Serif Text", serif;
    font-size: 1.5rem;
    padding-left: 10px;
}

.productDescription {
    text-align: center;
    font-size: 1rem;
}

@media screen and (max-width: 1000px) {
    .buttons-style {
        font-size: 20px;
    }

    .priceBtn-style {
        font-size: 16px;

    }
}