.carousel {
    width: 47vw;
    margin: auto;
    font-family: "DM Serif Text", serif;
}

.carousel img {
    width: 70%;
    display: block;
    margin: auto;
    position: relative;
    margin-bottom: 150px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-indicators {
    filter: invert(1);
    /* Inverts the colors, making white icons black */
}

.carousel-caption h3 {
    font-size: 2vw;
    color: rgb(74, 49, 20);
}

.carousel-caption p {
    font-size: 1.5vw;
    color: rgb(74, 49, 20);
}

@media screen and (max-width: 1150px) {

    .carousel img {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 800px) {
    .carousel {
        width: 100vw;
    }

    .carousel-caption h3 {
        font-size: 4vw;
    }

    .carousel-caption p {
        font-size: 2.5vw;
    }
}