.slider {
    margin: auto;
    width: 400px;

}

.slides img {
    width: 100%;
    height: auto;
    display: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
    z-index: 3;
    position: relative;
    top: -180px;
}

.prev,
.next {
    color: rgb(74, 49, 20);
    border-color: transparent;
    font-size: 24px;
}

.prev:hover,
.next:hover {
    cursor: pointer;
    background-color: bisque;
}

@media screen and (max-width:820px) {

    .slider {
        width: 300px;
    }

    .buttons {
        top: -140px;
    }
}